<form action="{{ callback_url }}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="{{ razorpay_merchant_key }}"
        data-amount="{{ order_amount }}"
        data-currency="INR"
        data-order_id="{{ order_id }}"
        data-buttontext="Pay Now"
        data-name="Rental Payment"
        data-description="Complete your rental booking"
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
